[submodule "Libraries/DFAbout"]
[submodule "Libraries/DigitalCert"]
	path = Libraries/DigitalCert
	url = https://github.com/NilsSve/Library-DigitalCert.git
	branch = main
[submodule "Libraries/DUF"]
	path = Libraries/DUF
	url = https://github.com/NilsSve/DbUpdateFramework.git
